div.online-payment {
    background: #fff;
    padding: 5px 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

    div.online-payment > ul {
        display: -webkit-inline-flex;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

        div.online-payment > ul > li {
            padding: 0 10px;
            display: -webkit-inline-flex;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }

            div.online-payment > ul > li > p {
                padding: 10px;
                -webkit-flex: auto;
                flex: auto;
                vertical-align: middle;
                text-align: center;
            }

            div.online-payment > ul > li:nth-of-type(2) > p {
                white-space: nowrap;
                text-align: right;
            }

            div.online-payment > ul > li:nth-of-type(1) > img {
                max-width: 280px;
                width: 100%;
            }

            div.online-payment > ul > li:nth-of-type(2) > img {
                max-height: 30px;
            }

@media screen and (max-width: 790px) {
    div.online-payment > ul {
        display: block;
    }
}